<h1> Liens
  <i class="fas fa-plus-circle hover-green" data-toggle="modal" (click)="setAddAction()" data-target="#addModal" *ngIf="hasPermissionToEdit()"></i>
</h1>
<div class="card-columns">
  <div class="card text-dark" *ngFor="let link of links">
    <div class="card-header">
      {{link.title}} <i class="fas fa-edit hover-green" data-toggle="modal" (click)="setUpdateAction(link)"data-target="#addModal" *ngIf="hasPermissionToEdit()"></i>
      &nbsp;<i class="fas fa-trash-alt hover-green" (click)="onDelete(link)" *ngIf="hasPermissionToEdit()"></i>
    </div>
    <div class="card-body">
      <p class="card-text">{{link.description}}</p>
    </div>
    <div class="card-footer">
      <a class="btn btn-primary lg" [href]="link.links" target="_blank">Accéder au site</a>
    </div>
  </div>
</div>

<div id="addModal"
  class="modal fade"
  tabindex="-1" 
  role="dialog" 
  aria-labelledby="addModal-title" 
  aria-hidden="true" 
  *ngIf="hasPermissionToEdit()">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModal-title">{{ currentId ? 'Modifier' : 'Ajouter' }}</h5>
        <button class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="fg" (ngSubmit)="onSubmit()">
        <div class="modal-body">
          <div class="form-group">
            <label for="title">Titre</label>
            <input id="title" class="form-control" type="text" formControlName="title">
            
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" class="form-control" formControlName="description"></textarea>
            
          </div>
          <div class="form-group">
              <label for="link">Lien</label>
              <input id="link" class="form-control" type="text" formControlName="link">
            </div>
        </div>
        <div class="modal-footer">
          <div class="btn-group" role="group" aria-label="Boutons">
            <button class="btn btn-danger" type="reset" #closeModal data-dismiss="modal">Annuler</button>
            <button class="btn btn-success" type="submit">{{ currentId ? 'Modifier' : 'Ajouter'}}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>