<form [formGroup]="fg" (ngSubmit)="onSubmit()">
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      {{ faq?.id ? "Modifier" : "Ajouter" }} une question
    </h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="bsModalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="title">Quelle est votre question ?</label>
      <input
        id="title"
        class="form-control"
        type="text"
        formControlName="question"
      />
    </div>
    <div class="form-group">
      <label for="answer">Réponse à la question</label>
      <textarea
        id="answer"
        class="form-control"
        type="text"
        formControlName="answer"
      ></textarea>
    </div>
    <div class="form-group">
      <label for="soft">Cette question concerne le logiciel :</label>
      <select id="soft" class="form-control" formControlName="softID">
        <option [value]="e.id" *ngFor="let e of softwares$ | async">
          {{ e.name }}
        </option>
      </select>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-default">
      {{ faq?.id ? "Modifier" : "Ajouter" }}
    </button>
  </div>
</form>
