<div class="mb-2">
  <form [formGroup]="fg" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nom">Nom de l'auteur</label>
      <input
        id="nom"
        class="form-control bg-dark"
        type="text"
        formControlName="nom"
      />
    </div>
    <div class="form-group">
      <label for="mail">Adresse mail</label>
      <input
        id="mail"
        class="form-control bg-dark"
        type="email"
        formControlName="mail"
      />
    </div>
    <div class="form-group">
      <label for="web">Site internet</label>
      <input
        id="web"
        class="form-control bg-dark"
        type="text"
        formControlName="web"
      />
    </div>
    <div class="w-100 d-flex justify-content-end">
      <div class="btn-group" role="group" aria-label="Actions">
        <button class="btn btn-danger" type="reset" (click)="setAddAction()">
          Réinitialiser
        </button>
        <button class="btn btn-success" type="submit" [disabled]="fg.invalid">
          {{ id ? "Modifier" : "Ajouter" }} {{ fg.get("nom").value }}
        </button>
      </div>
    </div>
  </form>
</div>

<ul class="list-group w-100 no-Mh my-3">
  <li
    class="list-group-item d-flex justify-content-between bg-dark text-light"
    *ngFor="let data of authors$ | async | namesort: '-nom'"
  >
    <span class="mr-2">{{ data.nom | uppercase | short: 35 }}</span>
    <div class="btn-group" role="group" aria-label="Action">
      <button
        class="btn btn-outline-danger"
        type="button"
        (click)="onDelete(data.id)"
      >
        Supprimer
      </button>
      <button
        class="btn btn-outline-primary"
        type="button"
        (click)="setUpdateAction(data)"
      >
        Modifier
      </button>
    </div>
  </li>
</ul>
