<div class="mb-2">
  <form [formGroup]="fg" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nom">Nom du logiciel</label>
      <input
        id="nom"
        class="form-control bg-dark"
        type="text"
        formControlName="name"
      />
    </div>
    <div class="w-100 d-flex justify-content-end">
      <div class="btn-group" role="group" aria-label="Button group">
        <button class="btn btn-danger" type="reset" (click)="setAddAction()">
          Réinitialiser
        </button>
        <button class="btn btn-success" type="submit" [disabled]="fg.invalid">
          {{ id ? "Modifier" : "Ajouter" }} {{ fg.get("name").value }}
        </button>
      </div>
    </div>
  </form>
</div>
<ul class="list-group no-Mh my-3">
  <li
    class="list-group-item d-flex justify-content-between bg-dark"
    *ngFor="let data of softwares$ | async | namesort: '-name'"
  >
    <span class="mr-2">{{ data.name | uppercase | short: 35 }}</span>
    <div class="btn-group" role="group" aria-label="Actions">
      <button
        class="btn btn-outline-danger"
        type="button"
        (click)="onDelete(data.id)"
      >
        Supprimer
      </button>
      <button
        class="btn btn-outline-primary"
        type="button"
        (click)="setUpdateAction(data)"
      >
        Modifier
      </button>
    </div>
  </li>
</ul>
