<div class="row">
  <div class="col-md-12">
    <h1>
      {{ handler.nom }} (v{{ handler.version }})
      <div
        class="fb-like"
        data-href="https://www.facebook.com/funtrain.net"
        data-layout="button_count"
        data-action="like"
        data-size="large"
        data-show-faces="false"
        data-share="true"
      ></div>
      <i
        class="fas fa-edit hover-green"
        data-toggle="modal"
        (click)="setUpdatedValues()"
        data-target="#updateModal"
        *ngIf="hasPermissionToEdit()"
      ></i>
      &nbsp;<i
        class="fas fa-trash-alt hover-green"
        (click)="onDelete()"
        *ngIf="hasPermissionToEdit()"
      ></i>
    </h1>
    <h3>
      par
      <a
        href="mailto:{{ handler.mail }}?subject=Funtrain.net - {{
          handler.nom
        }}"
        >{{ handler.auteur }}</a
      >
    </h3>
  </div>
</div>
<div
  id="my-carousel"
  class="carousel slide"
  data-ride="carousel"
  data-interval="3000"
>
  <div class="carousel-inner">
    <div
      [ngClass]="{ 'carousel-item': true, active: 'index === 0' }"
      *ngFor="let image of handler.images; let index"
    >
      <img class="d-block w-100" [src]="image" [alt]="handler.nom" />
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#my-carousel"
    data-slide="prev"
    role="button"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#my-carousel"
    data-slide="next"
    role="button"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<h2 class="text-light">Description de l'addon</h2>
<div class="row">
  <div class="col-md-9">
    <p class="longtext text-light" [innerHTML]="handler.description | html"></p>
  </div>
  <div class="col-md-3">
    <button
      class="settings-button d-none"
      (click)="setTextValue(pub)"
      data-toggle="modal"
      data-target="#updateTexts"
      *ngIf="isAdmin()"
    >
      <i class="fas fa-wrench"></i>
    </button>
    <ng-adsense></ng-adsense>
  </div>
</div>

<ul class="list-group list-group-flush text-dark">
  <li
    class="list-group-item d-flex justify-content-between"
    *ngFor="let link of handler.file"
  >
    <span>{{ getDownloadLocation(link) }}</span>
    <a class="btn btn-success" [href]="link" [download]="link" target="_blank"
      >Télécharger</a
    >
  </li>
</ul>

<div
  id="addModal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addModal-title"
  aria-hidden="true"
  *ngIf="hasPermissionToEdit()"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModal-title">Modifier un addon</h5>
        <button
          class="close"
          data-dismiss="modal"
          #closeModal
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="fg" (onSubmit)="onSubmit()">
        <div class="modal-body">
          <div class="form-group">
            <label for="nom">Nom de l'addon</label>
            <input
              id="nom"
              class="form-control"
              type="text"
              formControlName="nom"
            />
          </div>
          <div class="form-group">
            <label for="version">Version de l'addon</label>
            <input
              id="version"
              class="form-control"
              type="number"
              formControlName="version"
            />
          </div>
          <div class="form-group">
            <label for="description">Description de l'addon</label>
            <textarea
              id="description"
              class="form-control"
              formControlName="description"
            ></textarea>
          </div>
          <div class="form-group">
            <label for="softId">Logiciel</label>
            <select id="softId" class="form-control" formControlName="softID">
              <option [value]="soft.id" *ngFor="let soft of softwares">
                {{ soft.name }}
              </option>
            </select>
          </div>
          <div [formArray]="files">
            <app-file
              [formControlName]="i"
              *ngFor="let i of getFormArray('files').controls; let i = index"
              (add)="add('files')"
              (delete)="remove('files', i)"
            ></app-file>
          </div>
          <div [formArray]="images">
            <app-file
              [formControlName]="i"
              *ngFor="let i of getFormArray('images').controls; let i = index"
              (add)="add('images')"
              (delete)="remove('images', i)"
            ></app-file>
          </div>
        </div>
        <div class="modal-footer">
          <div class="btn-group" role="group" aria-label="Boutons">
            <button
              class="btn btn-danger"
              type="reset"
              data-dismiss="modal"
              data-target="#addModal"
            >
              Annuler
            </button>
            <button
              class="btn btn-success"
              type="submit"
              [disabled]="fg.invalid"
            >
              Modifier {{ fg.get("nom").value }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  id="updateTexts"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="#text-form-title"
  aria-hidden="true"
  *ngIf="isAdmin()"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="text-form-title">
          Modifier les textes / pubs
        </h5>
        <button
          class="close"
          data-dismiss="modal"
          #closeForm
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="textForm" (ngSubmit)="onTextSubmit()">
        <div class="modal-body">
          <div class="form-group">
            <label for="text">Texte (html autorisé)</label>
            <textarea
              id="text"
              class="form-control"
              type="text"
              formControlName="text"
              rows="5"
              cols="30"
              style="overflow: hidden"
            ></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <div class="btn-group" role="group" aria-label="Modifier">
            <button class="btn btn-danger" type="reset" data-dismiss="modal">
              Annuler
            </button>
            <button
              class="btn btn-success"
              type="submit"
              [disabled]="textForm.invalid"
            >
              Modifier
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
