<div class="card">
  <div class="card-header">
    {{ link.title }}

    <i
      class="fas fa-edit hover-green"
      (click)="update.emit(link)"
      *ngIf="auth"
    ></i>
    &nbsp;<i
      class="fas fa-trash-alt hover-green"
      (click)="delete.emit(link.id)"
      *ngIf="auth"
    ></i>
  </div>
  <div class="card-body">
    <p class="card-text">
      {{ link.description }}
    </p>
    <a [href]="link.links" target="_blank" class="btn btn-primary"
      >Aller sur le site</a
    >
  </div>
</div>
