<div class="mb-2">
  <form [formGroup]="fg" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="uname">Nom d'utilisateur</label>
      <input
        id="uname"
        class="form-control bg-dark"
        type="text"
        formControlName="uname"
      />
    </div>
    <div class="form-group">
      <label for="admPassword">Mot de passe</label>
      <input
        id="admPassword"
        class="form-control bg-dark"
        type="password"
        formControlName="psw"
      />
    </div>
    <div formGroupName="permissions">
      <div class="form-group">
        <label for="lines">Ajouter / Modifier des lignes</label>
        <select class="form-control bg-dark" formControlName="line" id="lines">
          <option value="0">Non</option>
          <option value="1">Oui</option>
        </select>
      </div>

      <div class="form-group">
        <label for="addons">Ajouter / Modifier des addons</label>
        <select
          class="form-control bg-dark"
          formControlName="handler"
          id="addons"
        >
          <option value="0">Non</option>
          <option value="1">Oui</option>
        </select>
      </div>
      <div class="form-group">
        <label for="faq">Ajouter / Modifier des questions (FAQ)</label>
        <select class="form-control bg-dark" formControlName="faq" id="faq">
          <option value="0">Non</option>
          <option value="1">Oui</option>
        </select>
      </div>
      <div class="form-group">
        <label for="administration">Gérer les éléments administratifs</label>
        <select
          class="form-control bg-dark"
          formControlName="administration"
          id="administration"
        >
          <option value="0">Non</option>
          <option value="1">Oui</option>
        </select>
      </div>
    </div>
    <div class="w-100 d-flex justify-content-end">
      <div class="btn-group" role="group" aria-label="Button group">
        <button class="btn btn-danger" (click)="setAddAction()" type="reset">
          Réinitialiser
        </button>
        <button class="btn btn-success" type="submit" [disabled]="fg.invalid">
          {{ id ? "Modifier" : "Ajouter" }} {{ fg.get("uname").value }}
        </button>
      </div>
    </div>
  </form>
</div>
<ul class="list-group no-Mh my-3">
  <li
    class="list-group-item d-flex justify-content-between bg-dark"
    *ngFor="let data of users$ | async | namesort: '-username'"
  >
    <span class="mr-2">{{ data.username | uppercase | short: 35 }}</span>
    <div class="btn-group" role="group" aria-label="Action">
      <button
        class="btn btn-outline-danger"
        type="button"
        (click)="onDelete(data.id)"
      >
        Supprimer
      </button>
      <button
        class="btn btn-outline-primary"
        type="button"
        (click)="setUpdateAction(data)"
      >
        Modifier
      </button>
    </div>
  </li>
</ul>
