<div id="fb-root"></div>
<script
  async
  defer
  crossorigin="anonymous"
  src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v3.2"
></script>
<div class="parallax"></div>
<div class="justify-content-center center-block hopla">
  <nav class="navbar navbar-expand-md bg-dark navbar-dark text-light">
    <a href="javascript:void(0)" class="navbar-brand" routerLink="">
      <img
        src="assets/images/favicon.ico"
        width="45"
        height="45"
        class="d-inline-block align-top"
        alt=""
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="javascript:void(0)" routerLink="" class="nav-link"
            >Accueil</a
          >
        </li>
        <li class="nav-item">
          <a href="javascript:void(0)" class="nav-link" routerLink="lines/all"
            >Voir les lignes</a
          >
        </li>
        <li class="nav-item">
          <a href="javascript:void(0)" class="nav-link" routerLink="addons"
            >Voir les extensions</a
          >
        </li>
        <li class="nav-item">
          <a href="javascript:void(0)" class="nav-link" routerLink="faq"
            >Foires aux questions</a
          >
        </li>
      </ul>
    </div>
  </nav>
  <img src="assets/images/logotype-Texte.svg" alt="funtrain.net" />
  <div class="container text-light">
    <router-outlet></router-outlet>
  </div>
  <div
    class="footer bg-dark text-light text-center d-flex justify-content-around"
  >
    <a
      href="javascript:void(0)"
      data-toggle="modal"
      data-target="#login"
      *ngIf="!isLogged()"
      >Login</a
    >
    <a href="javascript:void(0)" routerLink="administration" *ngIf="isLogged()"
      >Administration</a
    >
    <a href="javascript:void(0)" (click)="disconnect()" *ngIf="isLogged()"
      >Se déconnecter</a
    >
    <a href="javascript:void(0)" routerLink="links">Sites partenaires</a>
    <a href="javascript:void(0)" routerLink="addons">Addons de simulateur</a>
    <a href="javascript:void(0)" data-toggle="modal" data-target="#mentions"
      >Mentions légales</a
    >
    <a href="javascript:void(0)" routerLink="/contact">Contact</a>
  </div>
  <div
    class="alert alert-dismissible text-center"
    *ngIf="!cookie()"
    role="alert"
  >
    <div class="cookiealert-container">
      <b>Ce site utilise des cookies</b>
      Pour en savoir plus, n'hésitez pas à cliquer
      <a href="javascript:void(0)" data-target="#cookie" data-toggle="modal"
        >ici</a
      >.
      <button
        type="button"
        class="btn btn-primary btn-sm"
        (click)="acceptCookie()"
        aria-label="Close"
      >
        Je suis d'accord
      </button>
    </div>
  </div>
</div>

<div
  id="mentions"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="mentions-title"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mentions-title">Mentions légales</h5>
        <button class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <button
          class="settings-button"
          (click)="setTextMentionValue(mentions)"
          data-toggle="modal"
          data-target="#updateTexts"
          *ngIf="hasPermissionToEdit()"
        >
          <i class="fas fa-wrench"></i>
        </button>
        <p [innerHTML]="mentions | html"></p>
      </div>
    </div>
  </div>
</div>

<div
  id="cookie"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="cookie-title"
  aria-hidden="true"
  *ngIf="!cookie()"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cookie-title">
          Règle générale d'utilisation des cookies
        </h5>
        <button class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-justify">
        <p>
          Ce site utilise des cookies (fichier de taille limité, généralement
          constitué de lettres et de chiffres, envoyé par le serveur internet au
          fichier cookie du navigateur situé sur le disque dur de votre
          ordinateur) afin de permettre ou de faciliter la navigation et de
          sauvegarder les préférences de navigation sur le site internet, de
          réaliser des statistiques de visites et d’interaction avec le site.
          Par ailleurs, les fonctionnalités liées aux icônes dédiées aux réseaux
          sociaux figurant sur le site internet de funtrain.net utilisent des
          cookies tiers destinés à améliorer l’interactivité du site qui sont
          directement déposés par ces services. De même, la régie publicitaire
          de Google utilise des cookies afin de proposer des publicités
          adaptées.
        </p>
        <p>
          Les cookies d'amélioration de publicité peuvent étre désactivés ici:
          <a href="https://adssettings.google.fr/authenticated"
            >Google AdSense Settings</a
          >
        </p>
      </div>
    </div>
  </div>
</div>

<div
  id="login"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="login-title"
  aria-hidden="true"
  *ngIf="!isLogged()"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="my-modal-title">Connexion...</h5>
        <button
          class="close"
          data-dismiss="modal"
          #closeModal
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="modal-body">
          <div class="imgcontainer">
            <img
              src="assets/images/img_avatar.png"
              width="128"
              height="128"
              alt="Avatar"
              class="avatar"
            />
          </div>
          <div class="form-group">
            <label for="identifant">Identifant</label>
            <input
              id="identifant"
              class="form-control"
              type="text"
              formControlName="username"
            />
          </div>
          <div class="form-group">
            <label for="password">Mot de passe</label>
            <input
              id="password"
              class="form-control"
              type="password"
              formControlName="password"
            />
          </div>
        </div>
        <div class="modal-footer">
          <div class="btn-group" role="group" aria-label="Connexion">
            <button class="btn btn-danger" type="reset" data-dismiss="modal">
              Annuler
            </button>
            <button
              class="btn btn-success"
              type="submit"
              [disabled]="loginForm.invalid"
            >
              Se connecter
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  id="updateMentions"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="login-mentions"
  aria-hidden="true"
  *ngIf="hasPermissionToEdit()"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="my-modal-title">Modifier les mentions</h5>
        <button
          class="close"
          data-dismiss="modal"
          #closeForm
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="textMentionForm" (ngSubmit)="onMentionTextSubmit()">
        <div class="modal-body">
          <div class="form-group">
            <label for="mtext">Texte (html autorisé)</label>
            <textarea
              id="mtext"
              class="form-control"
              type="text"
              formControlName="mentionsText"
              rows="5"
              cols="30"
              style="overflow: hidden"
            ></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <div class="btn-group" role="group" aria-label="Modifier">
            <button class="btn btn-danger" type="reset" data-dismiss="modal">
              Annuler
            </button>
            <button
              class="btn btn-success"
              type="submit"
              [disabled]="textMentionForm.invalid"
            >
              Modifier
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
