<h1 class="mt-2 mb-1">Logiciels</h1>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="softName">Nom du logiciel</label>
        <input id="softName" class="form-control" type="text" formControlName="name">
      </div>
      <div class="btn-group f-right" role="group" aria-label="Button group">
        <button class="btn btn-danger" type="reset" (click)="setAddAction()">Réinitialiser</button>
        <button class="btn btn-success" type="submit" [disabled]="formGroup.invalid"> {{id ? 'Modifier': 'Ajouter'}} {{ formGroup.get('name').value }}</button>
      </div>
</form>
<ul class="list-group">
<li class="list-group-item d-flex justify-content-between" *ngFor="let software of datas">
  <span class="text-dark">{{software.name | uppercase }}</span>
  <div class="btn-group" role="group" aria-label="Action">
    <button class="btn btn-danger" type="button" (click)="onDelete(software.id)">Supprimer</button>
    <button class="btn btn-primary" type="button" (click)="setUpdateAction(software)">Modifier</button>
  </div>
</li>
</ul>
