<main class="w-100">
  <section class="mw-100">
    <h1>
      Foire aux question
      <i
        class="fas fa-plus-circle hover-green"
        (click)="onCreate()"
        *ngIf="auth"
      ></i>
    </h1>
    <div class="filter w-100">
      <select class="form-control bg-dark" [(ngModel)]="softFilter">
        <option value="0">Tous les Logiciels</option>
        <option [value]="e.id" *ngFor="let e of softwares$ | async">
          {{ e.name }}
        </option>
      </select>
    </div>
  </section>
  <section>
    <div class="container">
      <hr />
      <div
        *ngFor="
          let faq of data$ | async | filter: ',' + softFilter + ',';
          let last = last
        "
      >
        <h3 class="shimmer" *ngIf="!faq"></h3>
        <h3 *ngIf="faq">
          {{ faq.question }}
          <i
            class="fas fa-edit hover-green"
            (click)="onUpdate(faq)"
            *ngIf="auth"
          ></i>
          &nbsp;<i
            class="fas fa-trash-alt hover-green"
            (click)="onDelete(faq.id)"
            *ngIf="auth"
          ></i>
        </h3>
        <p class="shimmer" *ngIf="!faq"></p>
        <p *ngIf="faq">{{ faq.answer }}</p>
        <hr *ngIf="!last" />
      </div>
    </div>
  </section>
</main>
