<div>
  <h2>Rechercher des trajets ou des plugins sur le site Funtrain.net</h2>
  <app-search></app-search>
</div>
<hr />
<div class="texts-container">
  <app-text location="general" class="w-100"></app-text>
  <app-text location="pub1" class="ad1"></app-text>
</div>
<div>
  <h2>Actualités sur les réseaux sociaux</h2>
  <div
    class="d-flex justify-content-around flex-wrap"
    style="gap: 1rem; height: 500px"
  >
    <fb-page
      href="https://www.facebook.com/funtrain.net/"
      tabs="timeline"
      [height]="400"
      [hideCover]="true"
      [showFacepile]="false"
      class="fb shimmer"
    ></fb-page>
    <fb-page
      href="https://www.facebook.com/APSFI/"
      tabs="timeline"
      [height]="400"
      [hideCover]="true"
      [showFacepile]="false"
      [smallHeader]="true"
      class="fb shimmer"
    ></fb-page>
  </div>
</div>
<hr />
<h2>Carte interactive</h2>
<p id="map-text">Cliquez sur une région pour voir les lignes qui la traverse</p>
<app-map></app-map>
