<div class="texts-container">
  <app-text location="general"></app-text>
  <ng-adsense [width]="400" [height]="300"></ng-adsense>
</div>
<div>
  <h1>Actualités sur les réseaux sociaux</h1>
  <div class="d-flex justify-content-around flex-wrap">
    <div class="facebook">
      <div
        class="fb-page"
        data-href="https://www.facebook.com/funtrain.net/"
        data-tabs="timeline"
        data-width="500"
        data-height="400"
        data-small-header="true"
        data-adapt-container-width="true"
        data-hide-cover="true"
        data-show-facepile="false"
      >
        <blockquote
          cite="https://www.facebook.com/funtrain.net/"
          class="fb-xfbml-parse-ignore"
        >
          <a href="https://www.facebook.com/funtrain.net/">funtrain.net</a>
        </blockquote>
      </div>
    </div>
    <div class="facebook">
      <div
        class="fb-page"
        data-href="https://www.facebook.com/APSFI/"
        data-tabs="timeline"
        data-width="500"
        data-height="400"
        data-small-header="true"
        data-adapt-container-width="true"
        data-hide-cover="true"
        data-show-facepile="false"
      >
        <blockquote
          cite="https://www.facebook.com/APSFI/"
          class="fb-xfbml-parse-ignore"
        >
          <a href="https://www.facebook.com/APSFI/">APSFI</a>
        </blockquote>
      </div>
    </div>
  </div>
</div>
<hr />
<h1>Carte interactive</h1>
<p id="map-text">Cliquez sur une région pour voir les lignes qui la traverse</p>
<app-map></app-map>
